extends layouts/documentation
block title
  | Change Log - reactive.coffee
block content
  :markdown
    Change Log
    ==========

    **v0.0.5 – under development**

    - Add support for [ES5 property getter/setters][ES5].

    **v0.0.4 – 2013-08-14**

    - Fix long-standing [memory leak with nested binds][GC].
    - Trim undocumented functions from public `rx` API.
    - Fix several bugs in `ObsMap` hierarchy.

    **v0.0.3 – 2013-08-06**

    - Fix property/attribute updates to "do the right thing" (choose between
      jQuery `attr`/`prop` in the right way).
    - Fix `DepArray` bug.

    **v0.0.2 – 2013-08-01**

    - Remove use of spans to wrap text nodes and RawHtml nodes.

    **v0.0.1 — 2013-07-14**

    - Make template tag syntax more flexible for common cases of string-only or
      no-attrs.
    - Add extensible special attributes and include a number of events as
      built-in special attributes.
    - Fix jQuery plugin bugs.

    **v0.0.0 — 2013-06-20**

    - Initial release.

    [ES5]: infelicities.html#es5-properties
    [GC]: tutorial.html#garbage-collection
