extends layouts/documentation
block title
  | Change Log - reactive.coffee
block content
  :markdown
    Change Log
    ==========

    v0.0.1 — 2013-07-14

    - Make template tag syntax more flexible for common cases of string-only or
      no-attrs.
    - Add extensible special attributes and include a number of events as
      built-in special attributes.
    - Fix jQuery plugin bugs.

    v0.0.0 — 2013-06-20

    - Initial release.
