extends layouts/documentation
block title
  | Change Log - reactive.coffee
block content
  :markdown
    Change Log
    ==========

    Changes for each version are roughly listed in order of descending
    noteworthiness.

    **v1.1.1 – 2014-03-02**

    - Fix bug in shorthand attr parsing (contributor: [@chicagogrooves]).

    **v1.1.0 – 2014-02-28**

    - Allow server-side usage in node by making jQuery optional and using UMD
      packaging (contributor: [@chicagogrooves]).
    - Suport shorthand Jade-style tag syntax (contributor: [@chicagogrooves]).
    - Support nested transactions (contributor: [@cpoirier]).
    - Clean up examples (contributor: [@chicagogrooves]).

    **v1.0.0 – 2014-02-05**

    - Add flexible array auto-diffing via `cellToArray` and `ObsArray.update`.
    - Add `ObsArray.indexed` for indexed maps.
    - Add `rx.concat` for efficient concatenation of `ObsArray`s.
    - Make arguments to tag constructors more flexible.
    - Add transactions.
    - Add `rx.lift`.
    - Make `autoReactify` smarter.
    - Add fake `SrcCell` adapters for `ObsMap` entries.
    - Fix `RawHtml` element count bug.
    - Make `style` a special attribute that automatically uses `cssify`.
    - Make `class` a special attribute that uses `rxt.smushClasses`.
    - Throw proper Errors rather than strings.
    - Fix and test for IE compat.
    - Fix various other bugs.

    **v0.0.5 – 2013-09-13**

    - Add support for [ES5 property getter/setters][ES5].
    - Add [asynchronous bind] support and `asyncBind`.
    - Resurrent `rx.lagBind`.
    - Add `rx.postLagBind` for dynamic delayed async binds.
    - Add `rx.onDispose` for [resource cleanup].
    - Add and use `rx.autoSub` for proper cleanup of explicit subscriptions
      within `bind`s.
    - Add `rx.snap` for non-binding snapshots.
    - Add `rx.skipFirst` for suppressing initial invocations.
    - Add utility functions: `rx.flatten`, `rxt.cast`, `rxt.cssify`.

    [asynchronous bind]: advanced.html#asynchronous-binds

    **v0.0.4 – 2013-08-14**

    - Fix long-standing [memory leak with nested binds][GC].
    - Trim undocumented functions from public `rx` API.
    - Fix several bugs in `ObsMap` hierarchy.

    **v0.0.3 – 2013-08-06**

    - Fix property/attribute updates to "do the right thing" (choose between
      jQuery `attr`/`prop` in the right way).
    - Fix `DepArray` bug.

    **v0.0.2 – 2013-08-01**

    - Remove use of spans to wrap text nodes and RawHtml nodes.

    **v0.0.1 — 2013-07-14**

    - Make template tag syntax more flexible for common cases of string-only or
      no-attrs.
    - Add extensible special attributes and include a number of events as
      built-in special attributes.
    - Fix jQuery plugin bugs.

    **v0.0.0 — 2013-06-20**

    - Initial release.

    [ES5]: tutorial.html#es5-properties
    [GC]: advanced.html#garbage-collection
    [resource cleanup]: advanced.html#side-effects-and-resource-cleanup
    [allowMutations]: advanced.html#mutations-inside-binds

    [@chicagogrooves]: https://github.com/chicagogrooves
    [@cpoirier]: https://github.com/cpoirier
