extends layouts/development
block title
  | Development Setup - bobtail
block content
  :markdown
    Development Setup
    =================

    To fetch node dependencies:

        npm install # pull dependencies into ./node_modules
        npm install -g grunt-cli@0.1.9 # for conveniently running grunt
        npm install -g bower@1.0.0 # for conveniently running bower

    To fetch dependencies:

        bower install

    To build and test:

        grunt

    To test:

        grunt test

    Before making commits, please set up the commit-hook:

        ln -s $PWD/tools/pre-commit .git/hooks/

    This ensures that `dist/` has the latest compiled sources (and consequently
    that everything passes tests).
