extends layouts/documentation
block title
  | Development Setup - reactive.coffee
block content
  :markdown
    Development Setup
    =================

    To fetch node dependencies:

        npm install # pull dependencies into ./node_modules
        npm install -g phantomjs # temp workaround for karma phantomjs launcher
        npm install -g grunt-cli # for conveniently running grunt
        npm install -g bower # for conveniently running grunt

    To fetch dependencies:

        bower install

    To build and test:

        grunt

    To test:

        grunt test

    Tests may spew this error after running:

        ERROR [launcher]: Cannot start PhantomJS

    You can ignore this; it was a Karma bug, fixed recently in
    <https://github.com/karma-runner/karma/issues/444>.
