extends layouts/normal
block title
  | Community and Support - reactive.coffee
block subnav
block content
  :markdown
    Community and Support
    =====================

    Don't hesitate to reach out with any questions or discussion topics.
    Pull requests are extra-welcome.

    - [Issue Tracker]
    - [Google Groups mailing list]

    [Issue Tracker]: https://github.com/yang/reactive-coffee/issues
    [Google Groups mailing list]: https://groups.google.com/forum/?fromgroups#!forum/reactive-coffee
