extends layouts/normal
block title
  | Community and Support - reactive.coffee
block subnav
block content
  :markdown
    Community and Support
    =====================

    **Looking for help**?  Don't hesitate to reach out with any questions or
    discussion topics to the [Google Groups mailing list].

    **Encountered a bug**?  File it on our [GitHub issue tracker].

    **Want to stay up to date**?  We make regular project announcements on
    [Twitter].

    Contributions of all forms are especially welcome, whether it's mailing
    list participation, bug filing or pull requests.  If you're a developer,
    please see [Development] for more information and ideas.

    [Google Groups mailing list]: https://groups.google.com/forum/?fromgroups#!forum/reactive-coffee
    [GitHub issue tracker]: https://github.com/yang/reactive-coffee/issues
    [Twitter]: https://twitter.com/reactivecoffee

    [Development]: development.html
