!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet', type='text/css', href='styles/stylesheet.css', media='screen')
    link(rel='stylesheet', type='text/css', href='styles/pygment_trac.css', media='screen')
    // endbuild
    title
      block title
  body
    header
      block header
    #content-wrapper
      .inner.clearfix
        block body
    // if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    script(type='text/javascript')
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-41900480-1");
        pageTracker._trackPageview();
      } catch(err) {}
    footer
      .inner
        :markdown
          Copyright 2013 Reactive Coffee Authors.  
          Code licensed under [MIT License].  Documentation licensed under [CC BY 3.0][CC].  
          Website design based on Architect theme by [Jason Long].

          [MIT License]: https://github.com/yang/reactive-coffee/blob/master/LICENSE
          [CC]: http://creativecommons.org/licenses/by/3.0/
          [Jason Long]: https://twitter.com/jasonlong
