extends normal
block subnav
  li: a(href='dev-setup.html') Dev Setup
  li: a(href='infelicities.html') Infelicities
  li: a(href='ideas.html') Ideas
  li: a(href='https://github.com/inferinc/bobtail') GitHub
