extends base
block header
  .overlay
  .inner
    h1.smaller-title: a(href='/') reactive.coffee
    nav.top-nav
      .inner-inner
        a(href='quickstart.html') Documentation
        a(href='support.html') Community/Support
        a(href='design.html') Rationale
        a(href='dev-setup.html') Development
block body
  nav.side-nav
    ul
      block subnav
  section#main-content
    block content
