extends base
block header
  .overlay
  .inner
    h1.smaller-title: a(href='/') reactive.coffee
    nav.top-nav
      .inner-inner
        a(href='a') Documentation
        a(href='a') Community/Support
        a(href='a') Rationale
        a(href='a') Development
block body
  nav.side-nav
    ul
      block subnav
  section#main-content
    block content
