extends base
block header
  .overlay
  .inner
    h1.smaller-title: a(href='/') reactive.coffee
    nav
      .inner-inner
        a(href='a') Documentation
        a(href='a') Community/Support
        a(href='a') Rationale
        a(href='a') Development
