extends normal
block subnav
  li: a(href='https://groups.google.com/forum/?fromgroups#!forum/reactive-coffee') Mailing list
  li: a(href='https://github.com/inferinc/bobtail/issues') Issue tracker
  li: a(href='https://twitter.com/reactivecoffee') Twitter
  li: a(href='https://github.com/inferinc/bobtail') GitHub
